.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #ffffff;
  border-top: 1px solid #dbdbdb;
  z-index: 1000;
}

.nav-item {
  flex: 1;
  text-align: center;
  font-size: 26px;
  color: #262626;
  cursor: pointer;
}

.nav-item.active {
  color: #0095f6;
}

.nav-item.create {
  font-size: 36px;
  color: #262626;
}
